{% extends "layout.html" %}
{% block body %}
    <div class="container">
        <form action='login' method="post">
            <div class="form-group">
                <label for="name">Your name</label>
                <input type="text" class="form-control" id="name" name="name">
            </div>
            <div class="form-group">
                <label for="password">Your password</label>
                <input type="password" class="form-control" id="password" name="password">
            </div>
            <button type="submit" name="action" class="btn btn-primary">Login</button>
        </form>
    </div>
{% endblock %}