{% extends "layout.html" %}
{% block body %}
    <div class="container">
        <form method="post">
            <div class="form-group">
                <label for="inputTitle">Title of Website</label>
                <input type="text" class="form-control" id="inputTitle" name="site_title">
            </div>
            <div class="form-group">
                <label for="inputSiteURL">URL of Website</label>
                <input type="text" class="form-control" id="inputSiteURL" name="site_url">
            </div>
            <div class="form-group">
                <label for="inputFeedURL">URL of feed</label>
                <input type="text" class="form-control" id="inputFeedURL" name="feed_url">
            </div>
            <button type="submit" class="btn btn-primary">Add</button>
        </form>
    </div>
{% endblock %}
