{% extends "layout.html" %}
{% block body %}
    {% for entry in entries %}
    <div class="card m-2">
        <div class="card-header text-muted">
            {{ entry.site_title }} {{ entry.updated }}
        </div>
        <div class="card-body">
            <h5 class="card-title">{{ entry.entry_title }}</h5>
            <p class="card-text">{{ entry.summary|safe }}</p>
            <a href="{{ entry.entry_url }}" class="btn btn-primary">Read more</a>
        </div>
    </div>
    {% endfor %}
{% endblock %}
